.list {
  list-style-type: none;
  padding-left: 1.5rem;
}

.item::before {
  content: "â—";
  font-size: 2.5rem;
  margin-right: 0.5rem;
  display: inline-block;
  line-height: 0.7;
}
.item {
  text-decoration: underline;
  font-size:2rem;
  text-underline-offset: 1rem;
}
